[Unit]
Description=NoctisAPI Core (docker compose)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/noctisapi-core
ExecStart=/usr/bin/docker compose -p shadowapi-core -f compose/docker-compose.prod.yml --env-file .env.prod up -d
ExecStop=/usr/bin/docker compose -p shadowapi-core -f compose/docker-compose.prod.yml --env-file .env.prod down
TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
